// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$gray: #221414;
$white: white;

body {
  background: $gray; // Using this variable
}

body {
  color: $white; // Using this variable
}
